@import './footer.scss';

@mixin set-margin($direction, $value) {
    margin-#{$direction}: $value;
}

$text-color: blue;

body {
    color: $text-color;
}

.title {
    font-size: 1.6rem;
    color: $text-color;
}


.content {
    &__title-lg {
        @extend .title;
        font-size: 2.4rem;
    }

    @include set-margin(right, 1.6rem)
}
